[build-system]
requires = [
    "setuptools>=36.2.1", # environment markers
    "setuptools_scm",
    "wheel",
]

[tool.setuptools_scm]
write_to = "version.py"

[tool.black]
line-length = 79
target-version = [
    'py36',
    'py37',
    'py38',
]
include = '\.pyi?$'
exclude = '''
/(
    .*\.egg-info
    | .*build
    | \.eggs
    | \.git
    | \.pytest_cache
    | \.tox
    | \.venv
    | \.vscode
    | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 79
